@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

.navContainer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 5%;

  li {
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    font-size: 15px;

    a {
      transition: all 0.3s ease 0s;

      &:hover {
        color: #0088a9;
      }
    }
  }

  li,
  a,
  button,
  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
}
