@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Poppins:wght@500&display=swap");

.container {
    display: flex;
    height: auto;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 10%;
    background-color: #00cc99;

    align-items: center;
    gap: 10px;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;

    h1 {
        color: white;
    }
}

.productsSection {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
}

.productContainer {
    background-color: #0066ff;
    color: white;
    width: 80dvw;

    padding: 20px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .productTitle {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 5px;
    }

    .productPrice {
        font-size: 20px;
    }

    .productDescription {
        span {
            color: burlywood;
        }
    }
}
